* {
  box-sizing: border-box;
}
.details {
  font-weight: 100;
}

.card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 10px 20px;
  transition: transform 250ms;
  /* height: 150px; */
}
.card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-10px);
}

/* Float four columns side by side */

.subtext-service {
  padding-top: 60px;
  padding-bottom: 10px;
  margin-left: 84px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}
.container-service-area {
  display: flex ;
  flex-direction: row;
  width: 25%;
}
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
