
.Socials-wrapper {
    margin-top: 50px;
    background-color: transparent;
    height: 150px;
    width: 100%;
}
.social-icons {
    margin:auto;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-size {
    font-size: 30px;
    margin-top: 50px;
    margin-right: 10px;
}