@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    box-sizing: border-box;
}

.nav {
    position: sticky;
    z-index: 1000;
    top: 0;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    z-index: 1000;
    margin: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}
.eats {
    color: #156a41;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.top-nav-signup {
    padding: 8px 16px;
    height: 50px;
    width: 127px;
    border:3px solid #156a41;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    background-color:#000 ;
    color: #fff;
    margin: 20px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.top-nav-signup:hover {
    background-color: #333;
}
@media screen and (max-width: 600px) { 
   nav {
       position:fixed;
       background-color: black;
       height: 90px;
   }
   .logo{
       color: white;
   }
   .top-nav-signup {
       display: none;
   }
   .top-nav-signup:hover{
       background-color: black;
   }
}